@import models.entities.Product
@import controllers.routes.ProductsController
@(products: Set[Product])
    @main("Products Catalogue") {
        <h1>All Products</h1>
        <dl>
        @for(product <- products) {
            <dt>
                <a href="@ProductsController.show(product.id)">
                    @product.id - @product.name
                </a>
            </dt>
            <dd>@product.description</dd>
        }
        </dl>

        <a href="@ProductsController.showBlank()" class="btn">
            <i class="icon-plus"></i> New product</a>
    }
